<div class="row">
<div class="col">
{{home}}
</div>
<div class="col">
{{#link-to "add-user" class="btn btn-primary btn-lg"}}
    Add User
  {{/link-to}}
</div>
</div>
<br>
<table class="table align-middle" class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
    </tr>
  </thead>
  {{#each this.users as |user|}}
  <tbody>
    <tr>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phone}}</td>
    </tr>
  </tbody>
  {{/each}}
</table>