<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
    </tr>
  </thead>
  {{#each this.users as |user|}}
  <tbody>
    <tr>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phone}}</td>
    </tr>
  </tbody>
  {{/each}}
</table>

<br>
<div>
{{#link-to "add-user" class="button"}}
    Add User
  {{/link-to}}
</div>