<div class="container">
    <div class="row">
      <div class="col">
      <h1>READING ROOM AT THE BRITISH MUSEUM</h1>
      </div>
      <div class="col">
        {{#if (eq this.session.isAuthenticated true)}}
        {{log this}}
          <a class='btn btn-primary btn-lg' {{on "click" (fn this.invalidateSession this.session)}}>Logout</a>
        {{else}}
          {{#link-to 'login' class='btn btn-primary btn-lg'}}Login{{/link-to}}
          <img src="/assets/images/library.jpeg" class="rounded-circle" width="604" height="436" alt="...">
        {{/if}}
      </div>
    </div>
    <div class="row">
      {{outlet}}
    </div>
</div>