
   {{#link-to "books" class="button"}}
    Books
  {{/link-to}}
  <t>
  {{#link-to "authors" class="button"}}
    Authors
  {{/link-to}}
  </t>
  <t>
  {{#link-to "users" class="button"}}
    Users
  {{/link-to}}
  </t>
  <t>
  {{#link-to "borrower-details" class="button"}}
    Borrower Detail
  {{/link-to}}
  </t>
  <br>
  <br>
  <p>
    The Reading Room at the British Museum is located in the center of the Museum's Great Court. The building's domed exterior protects a unique interior ceiling made of a special kind of papier-mache, which is another first on our list! For much of the Room's history, access was limited to registered researchers, attracting notable visitors including Karl Marx, Oscar Wilde, Mahatma Gandhi, Rudyard Kipling, George Orwell, Mark Twain, Lenin, and H.G. Wells during this time. The majority of the collection was moved to the new British Library in 2000; the Reading Room now houses an information center and a curated collection of specialty art and history titles relevant to the collections of the British Museum. The Reading Room has also been known to host long-running temporary exhibitions of its own, such as the 2006 exhibit centered on China's famous Terracotta Army.
  </p>
